.footer {
  color: #fff;
  background: #385B66;

  // padding: rem(30) 0 ;
  // @include media-breakpoint-up(lg){
  //   padding: rem(65) 0 rem(60) 0;
  // }

  // //a
  // a{
  //   color: #fff;
  //   &:hover{
  //     color: rgba($color: #fff, $alpha: 0.5);
  //   }
  // }


  // &__row{
  //   @include roww(37px);
  // }
  // &__publisher-txt{
  //   margin-bottom: rem(32);


  //   p{
  //     font-size: rem(16px);
  //     @include media-breakpoint-up(sm){
  //       font-size: rem(20px);
  //     }
  //     font-weight: 600;

  //     line-height: 1.6;
  //     margin-bottom: 0;
  //   }

  //   a{
  //     border-bottom: 1px solid $body-color;
  //     &:hover{
  //       border-bottom: 1px solid transparent;
  //     }
  //   }
  // }
  // &__menu{
  //   padding-bottom: rem(30);
  //   @include media-breakpoint-up(lg){
  //     padding-bottom: 0;
  //   }
  //   ul{
  //     list-style: none;
  //     padding: 0;
  //     margin: 0;
  //     li{
  //       //line-height: (24/16);
  //       // padding: rem(4) 0;
  //       line-height: 1.6;
  //     }
  //     a{
  //       font-size: rem(16px);
  //       line-height: 1;

  //       border-bottom: 1px solid $body-color;
  //       &:hover{
  //         border-bottom: 1px solid transparent;
  //       }
  //     }
  //   }
  // }
  // //footer logo col
  // &__logo-cont{
  //   width: rem(163);
  //   max-width: 100%;

  //   margin-left: auto;
  //   @include media-breakpoint-up(lg){
  //     padding-top: 25px;
  //     margin-left: 0;
  //   }
  //   img{
  //     width: 100%;
  //     height: auto;
  //     @include media-breakpoint-up(xl){
  //       transform: translateX(-40px);
  //     }
  //   }
  // }
  // &__logo-col{
  //   @include media-breakpoint-down(xs){
  //     padding: 10px;
  //   }
  // }
  // //
  // &__support{
  //   padding-bottom: rem(59);
  // }
  // &__bold-txt{
  //   // font-weight: bold;
  //   line-height: (25/20);
  //   padding-bottom: rem(5);

  //   font-size: rem(16px);
  //   @include media-breakpoint-up(sm){
  //     font-size: rem(20px);
  //   }
  // }
  // &__inline-links{
  //   a{
  //     font-size: rem(16px);
  //     line-height: 1.4;

  //     span{
  //       @include mt();
  //       border-bottom: 1px solid $body-color;
  //     }

  //     &:hover{
  //       span{
  //         border-bottom: 1px solid transparent;
  //       }
  //     }

  //     &:after{
  //       content: '| ';
  //       display: inline-block;
  //       vertical-align: top;

  //       padding: 0 rem(10px);
  //       border-bottom: 1px solid transparent;
  //     }
  //     &:last-child{
  //       padding-right: 0;
  //       &:after{
  //         content: none;
  //       }
  //     }
  //   }
  // }
  // &__callback{

  // }

  // &__callback-txt{
  //   @include mt();
  //   a {
  //     display: inline-block;
  //     text-decoration: none;
  //     border-bottom: 1px solid transparent;
  //     a:hover{
  //       border-bottom: 1px solid #fff;
  //     }
  //   }
  // }
  // &__{}
  // &__{}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}


// 
@include media-breakpoint-between(md, xl) {}


// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}


// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}

.foot {
  position: relative;

  // background-image: url(..);
  .container {
    position: relative;

    .before {
      // content: url(../img/@2x/logo.png);

      // @include a-cent;
      @include media-breakpoint-up(md) {

        top: 50%;
        left: 45%;
        position: absolute;
        margin-left: rem(-111/ 2);
        margin-top: rem(-95/ 2);
        margin-bottom: rem(20);
      }

      display: block;

      margin-bottom: rem(20);
    }
  }

  background: #385B66;
  color: #fff;
  @extend .section;

  a {
    color: #fff;
    // @extend .text-body;
    display: inline-block;
  }

  .spiner {
    margin-left: rem(10);
    margin-right: rem(10);
  }

  &__txt--h5 {
    @extend .h5;
    font-weight: normal;
    line-height: 1.68;
  }

  strong.h5 {
    display: block;
    margin-bottom: rem(10);
  }

  p {
    margin-bottom: rem(20);
  }
}