
	// start .sRews
.sRews {

	--sPB: #{rem(62)};
	padding-top: calc(var(--sPT) / 1.5);
	.section-title {
		padding-bottom: calc(var(--sTPB) * 2.25);
	}
	h2 {
		span {
			text-decoration: underline;
		}
	}
	&__slider-wrap{
		position: relative;
		margin-bottom: rem(20);
	}

	&__slider {
		max-width: 80%;
		@include media-breakpoint-up(md) {
			max-width: 90%;
		}
	}

	&__more{
		background: #FFFFFF;
		box-shadow: 0px 4px 150px rgba(0, 0, 0, 0.25);
		@include media-breakpoint-down(lg) {
		img{
			margin-bottom: 1rem;
		}
		}
		@include media-breakpoint-up(sm) {

			padding: rem(40) rem(24);
		}
		padding: rem(24) rem(15);
	}
	&__text{
		font-weight: 800;
		@extend .h4;
		margin-bottom: rem(40);
	}
	.btn{
		height: rem(64);
		max-width: rem(352);
		font-size: rem(20);
		font-weight: 600;
		margin-top: auto;
		margin-bottom: rem(10);
	}
	&__col{
		display: flex;
		flex-direction: column;
	}
	@include media-breakpoint-up(xl) {
		.row{
			--bs-gutter-x: 48px;
		}
	}

	&__slide {
		background: #FFFFFF;
		box-shadow: 0px 26px 46px rgba(0, 0, 0, 0.17);
		border-radius: 20px;
		padding: rem(10);
		@include media-breakpoint-up(lg) {
			min-height: rem(450);
			padding: rem(50);
		}
		@include media-breakpoint-up(xl) {
			// padding: rem(127) rem(110) rem(145);
		}
		display: grid;
		place-items: center;
	}

	.swiper-container {
		overflow: visible;
	}
	.swiper-wrapper {
		align-items: center;
	}


	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {
		.swiper-button-next {
			right: 0;
		}

		.swiper-button-prev {
			left: 0;
		}
	}

} // end.sRews