// start .headerBlock
.headerBlock {
	--sPB: #{rem(50)};
	--sPT: #{rem(90)};
	--sTPB: #{rem(25)};
	@include media-breakpoint-up(md) {
		--sTPB: #{rem(73)};
		--sPB: #{rem(175)};
		--sPT: #{rem(111)};
	}

	position: relative;
	z-index: 2;

	h1 {
		font-weight: 900;
		letter-spacing: rem(-0.3);
	}

	h4 {
		color: #7E8F94;
		font-weight: 600;
		margin-bottom: rem(5);
		// @include media-breakpoint-up(lg) {
		// 	line-height: 1;
		// }
	}

	&__btn {
		@extend .btn;
		@extend .btn-primary;
		position: relative;
		z-index: 5;
	}

	&__bg {
		position: absolute;
		left: rem(30px);
		bottom: -155px;
		z-index: -1;
	}

	&__block {
		position: relative;
		z-index: 2;
		border: solid 2px #548E87;
		backdrop-filter: blur(8px);
		border-radius: 20px;
		background: linear-gradient(114.87deg, rgba(56, 91, 102, 0.73) 24.29%, rgba(79, 130, 123, 0.68) 45.36%, rgba(255, 255, 255, 0.39) 90.78%);
		padding: rem(10);
		@include media-breakpoint-up(md) {
			padding: rem(37) rem(57) rem(62);
		}
		@include media-breakpoint-up(lg) {
			background: linear-gradient(114.87deg, rgba(56, 91, 102, 0.73) 24.29%, rgba(79, 130, 123, 0.68) 45.36%, rgba(255, 255, 255, 0.39) 68.78%);
		}
	}

	h5 {
		max-width: 630px;
		margin-bottom: rem(23);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(43);
		}
		color: #ffffff;
		font-weight: bold;
		line-height: 1.6;

		span {
			color: #8fc9ae;
		}
	}

	&__phone {
		@include media-breakpoint-down(lg) {
			margin-top: rem(-110);
			margin-bottom: rem(-230);
			margin-right: rem(-20);
		}
		@include media-breakpoint-only(sm) {
			margin-bottom: rem(-110);
		}
		@include media-breakpoint-up(lg) {
			position: absolute;
			bottom: -120px;
			left: 36.7%;
		}
		@include media-breakpoint-up(md) {
			width: calc(550px + 16vw);
		}

		@include media-breakpoint-up(xxl) {
			width: 860px;
		}
	}








	@include media-breakpoint-up(xs) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xs) {}

}

// end.headerBlock