mixin sGaranty(data)
	// start sGaranty
	+b.SECTION.sGaranty.section#sGaranty&attributes(attributes)
		+e.bg
			img(src="img/svg/garanty-bg.svg", alt="" loading="lazy")
		.container
			+b.section-title
				h2 Вы получаете #[span гарантии]
				.h5  Мы&nbsp;на&nbsp;100% уверены в&nbsp;качестве наших обучающих продуктов. Поэтому Издательство Инфо-ДВД в&nbsp;лице Анатолия Белоусова, Никиты Королёва, Анны Зольд и&nbsp;Артёма Дудкевича даёт Вам эти смелые гарантии:
				
			.row
				mixin item(data)
					+e.col.col-lg-4
						+e.item
							+e.title!= data.title
							p!= data.p
				+item({
					title:`Гарантия качества`,
					p:`Мы&nbsp;на&nbsp;100% гарантируем Вам, что&nbsp;Вы найдёте ответы НА&nbsp;ВСЕ перечисленные в&nbsp;описании тренинга вопросы! Всё&nbsp;то, что показано в&nbsp;описании, будет предоставлено Вам в&nbsp;самом лучшем виде! Кроме того, пошаговое следование всем стратегиям, советам и рекомендациям автора обязательно даст Вам необходимый результат!`,
				})
				+item({
					title:`Гарантия поддержки`,
					p:`Автор гарантирует Вам свою личную поддержку и&nbsp;послепродажное обслуживание. Это означает, что мы&nbsp;всегда будем на&nbsp;связи, и&nbsp;Вы всегда сможете задавать нам Ваши вопросы&nbsp;&mdash; как в&nbsp;приватной переписке по&nbsp;е-мэйл или через билетную доску сервиса &laquo;Саппорт-Деск&raquo;, так и&nbsp;через специальную закрытую группу внутри нашего портала Инфоклуб.`,
				})
				+item({
					title:`Гарантия результата`,
					p:`На&nbsp;тренинге&nbsp;Вы получите и&nbsp;отработаете на&nbsp;практике готовую, тщательно протестированную прибыльную торговую систему, разработанную кандидатом экономических наук. Строгое следование правилам этой системы позволяет автору и&nbsp;его ученикам зарабатывать до&nbsp;50% (и&nbsp;более) прибыли каждый месяц. Вам останется просто повторить это результат, воспользовавшись полученными знаниями.`,
				})
	// end sGaranty