mixin sFeatures(data)
	// start sFeatures
	+b.SECTION.sFeatures.section#sFeatures&attributes(attributes)
		.container
			+b.section-title
				h2 В чём #[span главные особенности] этого тренинга:
				
			+e.whiteBlock
				.row
					+e.col.col-md-6
						h3 Торгуем с крупным игроком
						p Тренинг получил своё название не&nbsp;просто так. Вы&nbsp;действительно будете видеть намерения крупных игроков по&nbsp;сделкам в&nbsp;опционных контрактах на&nbsp;Чикагской бирже CME. Крупные игроки обязаны показывать свои сделки, потому что этого требует регулятор&nbsp;&mdash; надзорный орган над финансовыми рынками. Вам остаётся только взять эту информацию и&nbsp;правильно её&nbsp;применить. Как это сделать&nbsp;&mdash; в&nbsp;теории и&nbsp;на&nbsp;практике&nbsp;Вы узнаете в&nbsp;ходе тренинга и&nbsp;сопровождения. Вы&nbsp;будете видеть, на&nbsp;каких уровнях входят в&nbsp;рынок крупные игроки, сможете входить вместе с&nbsp;ними и&nbsp;зарабатывать деньги.
					.col-md-6
						h3 Автоматизация
						p Все данные о&nbsp;намерениях крупных игроков в&nbsp;Ваш торговый терминал будет поставлять специальный индикатор Smart Options. Самостоятельно строить уровни для поиска точек входа Вам не&nbsp;потребуется. Вручную Вам останется делать только самое приятное&nbsp;&mdash; совершать сделки и&nbsp;забирать прибыль.
			h3 3 стратегии на выбор
			h5 На&nbsp;тренинге&nbsp;Вы получите #[strong 3&nbsp;варианта] применения торговой системы:
			+e.OL.list
				li #[strong Долгосрочная торговля,] когда в&nbsp;месяц может быть по&nbsp;одной сделке по&nbsp;каждому инструменту (фьючерсу или валютной паре). Такой подход потребует всего несколько минут в&nbsp;день на&nbsp;торговлю и&nbsp;даст доходность порядка 15-20% в&nbsp;месяц при умеренных рисках (2%&nbsp;на&nbsp;сделку).
				li #[strong Среднесрочная торговля,] когда в&nbsp;день может открываться 2-3&nbsp;сделки, а&nbsp;длятся они до&nbsp;2-3-х дней. В&nbsp;этом случае к&nbsp;терминалу нужно будет подходить на&nbsp;несколько минут трижды в&nbsp;день (в&nbsp;9:00-10:00&nbsp;МСК, в&nbsp;16:00-17:00&nbsp;МСК и&nbsp;в&nbsp;23:00-00:00&nbsp;МСК). Если пропустите какое-то одно время&nbsp;&mdash; не&nbsp;страшно, по&nbsp;Вашим сделкам заранее будут выставлены тейк-профиты и&nbsp;стоп-лоссы. Доходность при таком подходе составит 20-30% в&nbsp;месяц при умеренных рисках (2%&nbsp;на&nbsp;сделку).
				li #[strong Внутридневная торговля,] когда у&nbsp;Вас есть желание и&nbsp;возможность находиться за&nbsp;компьютером несколько часов в&nbsp;день. При таком подходе в&nbsp;день можно совершать по&nbsp;3-5 и&nbsp;более сделок по&nbsp;каждому инструменту и&nbsp;получать максимальную прибыль&nbsp;&mdash; 30-50% и&nbsp;более в&nbsp;месяц при умеренных рисках (2% на&nbsp;сделку).
			mixin row(i,t)
				+e.row.row
					.col-lg
						h3!= t
						block
					.col-lg
						+e.imgWrap
							+pic(`features-${i}`,'','')
			+row('1','Подходит для любой занятости')
				p Описанные выше варианты позволят Вам #[strong успешно торговать при любой Вашей занятости.] Просто применяйте тот или иной подход в&nbsp;зависимости от&nbsp;того, сколько свободного времени у&nbsp;Вас есть.
			+row('2','Высокая доходность')
				p Следуя системе, полученной на&nbsp;тренинге, Вы&nbsp;сможете #[strong совершать до&nbsp;70% прибыльных сделок] и&nbsp;иметь доходность до&nbsp;50% и&nbsp;более в&nbsp;месяц в&nbsp;зависимости от&nbsp;выбранной стратегии. При этом риск потерь в&nbsp;убыточных сделках не&nbsp;будет превышать&nbsp;2% от&nbsp;депозита. Доходность можно увеличить в&nbsp;1,5-2 раза путём соответствующего увеличения рисков или увеличения количества торгуемых инструментов.
			+row('3','Универсальная система')
				p Торговая система, которую&nbsp;Вы получите на&nbsp;тренинге, одинаково хорошо подходит #[strong как для торговли фьючерсами на&nbsp;Чикагской товарной бирже CME, так и&nbsp;для торговли валютными парами на&nbsp;рынке форекс.] Также есть возможность торговать некоторыми инструментами на&nbsp;Московской бирже (фьючерсы на&nbsp;нефть, золото и&nbsp;евро).
			+e.wrap
				h3 Широкий спектр инструментов
				h5 По&nbsp;системе автора&nbsp;Вы сможете торговать самыми разными инструментами на&nbsp;Ваш выбор. Любой из&nbsp;них&nbsp;Вы сможете анализировать с&nbsp;помощью индикатора Smart Options и&nbsp;Ваших знаний, полученных на&nbsp;тренинге:

			+e.tools.row.justify-content-center
				mixin item(i)
					.col-sm-6.col-md-4
						+pic(`tool-${i}`,'','')
						block
				+item(1)
					p #[strong На&nbsp;Чикагской бирже CME] Вы&nbsp;сможете торговать фьючерсами на&nbsp;валюты, товары и&nbsp;индексы.
				+item(2)
					p #[strong На&nbsp;рынке FOREX&nbsp;&mdash;] валютными парами, CFD на&nbsp;золото, нефть и&nbsp;индексы
				+item(3)
					p #[strong На&nbsp;Московской бирже&nbsp;&mdash;] фьючерсами на&nbsp;нефть, золото и&nbsp;евро
			+b.section-title--anotherPadding
				h2 #[span Готовы начать зарабатывать] <br> с крупными игроками?
			+e.btn(href="#") Запишитесь на тренинг
		+e.bg.d-none.d-sm-block
			img(src="img/svg/features-bg.svg", alt="" loading="lazy")

	// end sFeatures