mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+b.section-title
				h2 Кто же такая #[span Елена Пронина] и&nbsp;почему её&nbsp;торговая система даёт стабильный высокий результат?
				
			.row.align-items-center
				.col-lg-6
					+e.imgWrap
						+pic('photo-2.jpg','','')
				.col-lg-6
					ul
						li #[span С&nbsp;2007 года] занимается инвестициями и&nbsp;трейдингом.
						li #[span Аттестованный специалист финансового рынка,] эксперт по&nbsp;торговле на&nbsp;Чикагской бирже CME, на&nbsp;валютном рынке форекс и&nbsp;на&nbsp;Московской бирже.
						li Торгует на&nbsp;крупных личных счетах #[span с&nbsp;доходностью до&nbsp;100%] и&nbsp;более в&nbsp;месяц.

	// end sAbout