// start .sAbout
.sAbout {
	padding-bottom: calc(var(--sPB) / 1.45);
	h2 {
		letter-spacing: rem(-0.2);
		span {
			text-decoration: underline;
		}
	}

	.section-title {
		padding-bottom: calc(var(--sTPB) * 1.5);
	}

	ul {
		list-style: none;

		li {
			position: relative;
			color: #303435;
			padding-left: rem(30);
			padding-bottom: rem(35);
			line-height: 150%;
			@extend .h4;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: rem(5);
				background-image: url('../img/svg/list-icon.svg');
				background-repeat: no-repeat;
				background-size: 100%;
				width: 10px;
				height: 21px;
			}

			span {
				color: #548E87;
			}
		}
	}

	.row {
		@include roww(33px);
	}

	&__imgWrap {
		filter: drop-shadow(0px 26px 46px rgba(0, 0, 0, 0.17));
		border-radius: 20px;
		overflow: hidden;
		@include block(448,471);
		max-width: rem(448px);

		@include media-breakpoint-down(lg) {
			margin-bottom: rem(30);
		}

		img {
			@include a-cent;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
		}
	}

	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAbout