mixin sFact(data)
	// start sFact
	+b.SECTION.sFact.section#sFact&attributes(attributes)
		.container
			
			+b.section-title
				h2 Факт:
			h3
				strong Чтобы много зарабатывать на&nbsp;финансовых рынках, Вы&nbsp;должны иметь преимущество перед большинством участников рынка
			+e.block
				h4
					strong Это может быть Ваше личное преимущество как хладнокровного и&nbsp;дисциплинированного трейдера.
				h5 И, конечно&nbsp;же, это может быть &laquo;секретная&raquo; информация, которая недоступна толпе. &laquo;Секретная&raquo; в&nbsp;кавычках, потому что на&nbsp;самом деле чрезвычайно ценные данные уже давно лежат в&nbsp;открытом доступе&nbsp;&mdash; на&nbsp;сайте Чикагской товарной биржи CME. Проблема в&nbsp;том (и&nbsp;наше с&nbsp;Вами преимущество!), что правильно этим пользоваться умеют лишь единицы.
			+e.block
				h4
					strong Представьте только: Вам уже сейчас доступна вся информация о&nbsp;сделках крупных игроков для извлечения Вашей прибыли!
				h5 Нужно только пойти и&nbsp;взять&nbsp;её. Тогда Вы&nbsp;заранее будете знать планы &laquo;больших дядь&raquo;, входить в&nbsp;рынок и&nbsp;зарабатывать вместе с&nbsp;ними ещё больше денег. При этом не&nbsp;имеет большого значения, о&nbsp;каком финансовом рынке идёт речь. Мы&nbsp;будем рассматривать эти уникальные возможности на&nbsp;примере Чикагской товарной биржи CME, а&nbsp;также рынка форекс.

	// end sFact