mixin sSchedule(data)
	// start sSchedule
	+b.SECTION.sSchedule.section#sSchedule&attributes(attributes)
		.container
			+b.section-title
				h2 Как будет построено #[span обучение]
				h5 Для Вашего удобства и&nbsp;максимального результата мы&nbsp;разделили программу обучения на&nbsp;несколько этапов
			+e.stageBlock
				+e.stage #[span 1 этап:] Вводные уроки и онлайн-тренинг 
				h5 Вы получаете серию коротких теоретических уроков для подготовки к тренингу, а затем приступаете к онлайн-занятиям по расписанию:
			mixin item(num, d, t)
				+e.item
					+e.head.row
						+e.number.col= num
						+e.date.col-sm-auto!= d
					+e.title!= t
					block
			+item(`Занятие 1`,` 1 марта, 19:00 МСК`,`Введение в тему курса`)
				ul
					li Торговля на&nbsp;финансовых рынках, почему это актуально и&nbsp;будет актуально всегда: финансовая независимость, самореализация.
					li Как торговать фьючерсы на&nbsp;валюты, нефть, золото, индексы и&nbsp;другие инструменты, используя данные опционных контрактов Чикагской биржи СМЕ с&nbsp;помощью индикатора Smart Options.
					li Как использовать информацию о&nbsp;сделках крупных игроков и&nbsp;зарабатывать на&nbsp;этом.
					li Торговые уровни, на&nbsp;которые всегда реагирует цена и&nbsp;которые строите НЕ&nbsp;ВЫ. Их&nbsp;Вам покажут крупные игроки.
					li Две составляющие успеха: нужное ВРЕМЯ и&nbsp;нужное МЕСТО.
					li Как движется цена между опционными уровнями.
			+item(`Занятие 2`,`3 марта, 19:00 МСК`,`Что такое фьючерсы и опционы`)
				ul
					li Производные финансовые инструменты. Фьючерсы и&nbsp;опционы.
					li Какие участники рынка и&nbsp;для чего используют эти инструменты.
					li Как применять эту информацию для извлечения прибыли.
					li Что нам важно знать об&nbsp;опционах, чтобы правильно интерпретировать информацию, которую мы&nbsp;получим с&nbsp;помощью индикатора Smart Options.
			+item(`Занятие 3`,`5 марта, 19:00 МСК`,`Практические навыки работы с&nbsp;сайтом СМЕ. Для чего нужен опционный анализ`)
				ul
					li Информация с&nbsp;сайта Чикагской биржи, которая необходима для успешной торговли по&nbsp;опционным уровням.
					li Для чего нужен опционный анализ и&nbsp;как его использовать в&nbsp;своей торговле.
					li Простые и&nbsp;понятные примеры.
			+item(`Занятие 4`,`8 марта, 19:00 МСК`,`Торговая система. Уровни индикатора Smart Options`)
				ul
					li Демонстрация работы с&nbsp;индикатором Smart Options.
					li Примеры торговли по&nbsp;опционным уровням.
					li Правила стратегии. Какую стратегию использовать.
					li Как анализировать рынок и&nbsp;сопровождать сделки.
					li Важные нюансы.

			+item(`Занятие 5`,`10 марта, 19:00 МСК`,`Философия правильного анализа`)
				ul
					li Опционы&nbsp;&mdash; психологическая карта рынка. Учимся её&nbsp;читать и&nbsp;использовать.
					li Как правильно отделить умных игроков от&nbsp;большинства с&nbsp;помощью индикатора Smart Options.
					li Что нужно для того, чтобы извлекать постоянный доход с&nbsp;торговли на&nbsp;финансовых рынках.
					li Почему рабочий день трейдера должен быть не&nbsp;более 2-3&nbsp;часов. Психология торговли. Эмоциональное состояние трейдера.
					li Контроль рисков.
					li Как работает индикатор Smart Options.
					li Выдача пробной версии индикатора на&nbsp;1&nbsp;неделю.
					li Условия приобретения индикатора.

			+item(`Занятие 6`,`10 марта, 19:00 МСК`,`Практика работы с индикатором Smart Options`)
				ul
					li Как технически работать с&nbsp;индикатором.
					li Уровни крупных игроков.
					li Уровни спроса и&nbsp;предложения.
					li Уровни максимального интереса.
					li Уровень баланса.
					li Уровни активности.
					li Смотрим графики, делаем анализ.
					li При наличии хороших точек входа открываем позиции вместе.
			+e.stageBlock--2
				+e.stage #[span 2 этап:]  Мастер-группа
				h5 Сопровождение в Мастер-группе длится на протяжении 3-х месяцев после тренинга. Занятия проходят 1 раз в 2 недели, в 18:00 МСК по средам.
				h4 В чём преимущества участия в Мастер-группе:
			+e.advantages.row
				mixin advItem(i,t)
					+e.col.col-sm-6.col-lg-3
						+e.imgWrap
							img(src=`img/svg/advantages-${i}.svg`, alt="" loading="lazy")
						p!= t
				+advItem(1,`Вы&nbsp;не&nbsp;останетесь один на&nbsp;один с&nbsp;торговой системой после тренинга. Вас будут вести и&nbsp;помогать`)
				+advItem(2,`Все Ваши вопросы, которые могут возникнуть в&nbsp;ходе практики после тренинга, подробно разбираются на&nbsp;онлайн-занятиях`)
				+advItem(3,`В&nbsp;любой момент&nbsp;Вы можете задать вопрос в&nbsp;группе и&nbsp;получить оперативный ответ`)
				+advItem(4,`Вы&nbsp;можете публиковать Ваши сделки и&nbsp;исправлять возможные ошибки после разбора с&nbsp;автором`)

			+e.stageBlock--3
				+e.stage #[span 3 этап:] Индивидуальный Коучинга
				h5 Индивидуальный Коучинг стартует параллельно с&nbsp;Мастер-группой и&nbsp;не&nbsp;ограничен по времени. Для каждого участника Коучинга создаётся отдельная комната в&nbsp;группе обучения.
				h4 В&nbsp;чём преимущества участия в&nbsp;Индивидуальном Коучинге:
			+e.advantages--sm.row.justify-content-center
				mixin advItem(i,t)
					+e.col.col-sm-6.col-lg-4
						+e.imgWrap
							img(src=`img/svg/advantages-${i}.svg`, alt="" loading="lazy")
						p!= t
				+advItem(5,`Вы&nbsp;остаётесь на&nbsp;связи с&nbsp;автором неограниченное время. Пока Вы&nbsp;активны, Ваше сопровождение продолжается`)
				+advItem(6,`Ваше общение с&nbsp;автором в&nbsp;индивидуальной комнате не&nbsp;видят другие участники. Вы&nbsp;можете легко обсуждать даже Ваши самые крупные счета или задавать &laquo;глупые&raquo; вопросы.`)
				+advItem(7,`Вы&nbsp;достигните результата в&nbsp;разы быстрее при личном общении с&nbsp;автором, чем в&nbsp;ходе самостоятельной практики`)

			+b.section-title--smPb
				h2 #[span Готовы выбрать]<br>  Вашу версию участия?
			+e.btn.scroll-link(href="#sTarifs") Запишитесь на тренинг
		+e.bg.d-none.d-sm-block
			img(src="img/svg/schedule-bg.svg", alt="" loading="lazy")
	// end sSchedule