.navMenu{
	@include media-breakpoint-up(md) {
		display: flex;
	}
	list-style: none;
	@include roww(39px);
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	flex-wrap: wrap;
	&__link{
		display: block;
		text-align: center;
		color: $body-color;
		font-weight: 600;
		text-decoration: none;
	}
}