mixin sBonuses(data)
	// start sBonuses
	+b.SECTION.sBonuses.section#sBonuses&attributes(attributes)
		.container
			+b.section-title
				h2 Вы получаете #[span бонусы!]
				h5 Для Вашего удобства и&nbsp;максимального результата мы&nbsp;разделили программу обучения на&nbsp;несколько этапов
				
			mixin row(i,title,pr,p)
				+e.rowWrap
					.row
						.col
							+e.imgWrap
								+pic(`bonuses-${i}.jpg`,'','')
						.col-lg-8
							+e.title!=title
							block
							+e.price!= pr
							+e.forParticipants!= p
			+row(1,`Индикатор Smart Options на&nbsp;время тренинга`,'Ценность 1000 рублей',`Для участников тренинга&nbsp;&mdash; <strike>1&nbsp;000</strike> <span>БЕСПЛАТНО!</span>`)
				p Каждому участнику тренинга на&nbsp;2&nbsp;недели будет предоставлена лицензия на&nbsp;индикатор Smart Options, который на&nbsp;полном автомате собирает данные о&nbsp;сделках крупных игроков и&nbsp;строит на&nbsp;их&nbsp;основе значимые уровни поддержки/сопротивления в&nbsp;Вашем торговом терминале.
				p Лицензия будет предоставлена для 1-го компьютера и&nbsp;для неограниченного количества торговых счетов. Информация о&nbsp;том, как получить лицензию, сам индикатор и&nbsp;инструкцию по&nbsp;его использованию, будет дана в&nbsp;группе во&nbsp;время тренинга.
				p По&nbsp;истечению пробного периода&nbsp;Вы можете приобрести лицензию на&nbsp;индикатор по&nbsp;цене от&nbsp;2000 рублей в&nbsp;месяц до&nbsp;12000 рублей в&nbsp;год.
			+row(2,`Помощь разработчика в&nbsp;установке индикатора`,'Ценность 5 000 рублей','Для участников тренинга – <strike>5 000</strike> <span>БЕСПЛАТНО!</span>')
				p Если у&nbsp;Вас возникнут сложности с&nbsp;установкой индикатора Smart Options, разработчик лично поможет Вам в&nbsp;установке через удалённый доступ к&nbsp;Вашему компьютеру.
			+row(3,`Безлимитный доступ в&nbsp;Telegram-канал и&nbsp;Telegram-чат с&nbsp;ежедневным анализом рынка и&nbsp;рекомендациями по&nbsp;торговле от&nbsp;автора`,'Ценность 20&nbsp;000 рублей','Для участников тренинга&nbsp;&mdash; <strike>20&nbsp;000</strike> <span>БЕСПЛАТНО!</span>')
				p Автор тренинга ведёт Telegram-канал в&nbsp;и&nbsp;общается с&nbsp;участниками в&nbsp;Telegram-чате. На&nbsp;канале&nbsp;Вы будете получать ежедневные рекомендации по&nbsp;торговле, пользоваться готовым анализом рынка для совершения Ваших сделок. В&nbsp;чате&nbsp;Вы сможете задавать вопросы и&nbsp;получать ответы от&nbsp;автора, общаться с&nbsp;другими участниками и&nbsp;обмениваться опытом.
			+row(4,`Видео-конференции с&nbsp;автором в&nbsp;группах по&nbsp;7-10 человек`,`Ценность 30&nbsp;000 рублей`,'Для участников тренинга&nbsp;&mdash; <strike>30&nbsp;000</strike> <span>БЕСПЛАТНО!</span>')
				p Вы&nbsp;получите доступ к&nbsp;живому общению в&nbsp;скайпе с&nbsp;подключением камеры и/или микрофона (1&nbsp;раз в&nbsp;2&nbsp;недели на&nbsp;протяжении 3-х месяцев). Вы&nbsp;будете добавлены в&nbsp;специальный скайп-чат, где будете созваниваться с&nbsp;автором. Вы&nbsp;сможете разбирать Ваши сделки, получать ответы на&nbsp;вопросы, делать совместный анализ рынка
	// end sBonuses