mixin sQuestions(data)
	// start sQuestions
	+b.SECTION.sQuestions.section#sQuestions&attributes(attributes)
		.container
			+b.section-title
				h2 Остались вопросы?
			+e.items
				+questionItem(`Какая нужна подготовка?`, 'active')(class='active')
					p Необходимо знание основ компьютерной грамотности, умение пользоваться браузером. Также желательно уметь пользоваться терминалом MetaTrader4 или MetaTrader5, открывать ордера, ставить стоп-лоссы и&nbsp;тейк-профиты, настраивать графики. Для новичков мы&nbsp;проведём вводное техническое занятие.
				+questionItem(`Какой минимальный депозит нужен?`)
					p Для торговли на&nbsp;CME через брокера AMP Global нужно $2000 для торговли обычными фьючерсами или $500 для работы с&nbsp;микроконтрактами.
					p Для торговли на&nbsp;Мосбирже минимальный депозит зависит от&nbsp;торгуемого инструмента: нефть&nbsp;&mdash; минимум 10000&nbsp;рублей, золото&nbsp;&mdash; минимум 20000&nbsp;рублей, евро&nbsp;&mdash; минимум 5000&nbsp;рублей.
					p Для торговли на&nbsp;рынке форекс достаточно депозита $100-200.

				+questionItem(`Сколько времени требуется на работу по вашей системе?`)
					h5 Зависит от стратегии.
					ol
						li Можно совершать долгосрочные сделки 1&nbsp;раз в&nbsp;месяц (по&nbsp;каждому торгуемому инструменту) и&nbsp;наблюдать за&nbsp;такими сделками несколько минут каждый день.
						li ожно торговать среднесрочно, открывать 2-3 сделки в&nbsp;день и&nbsp;удерживать их&nbsp;2-3&nbsp;дня. Для этого потребуется трижды в&nbsp;день быть у&nbsp;терминала по&nbsp;несколько минут.
						li Можно активно торговать внутри дня, совершая множество коротких сделок. Этот вариант подходит тем, кто может несколько часов в&nbsp;день проводить у&nbsp;компьютера.
				+questionItem(`Сколько я заработаю?`)
					p Следуя системе, полученной на&nbsp;тренинге, Вы&nbsp;сможете совершать до&nbsp;70% прибыльных сделок и&nbsp;иметь доходность до&nbsp;50% и&nbsp;более в&nbsp;месяц в&nbsp;зависимости от&nbsp;выбранной стратегии. При активной торговле доходность может составлять 30-50% и&nbsp;более в&nbsp;месяц, при среднесрочной&nbsp;&mdash; 20-30% в&nbsp;месяц, при долгосрочной 15-20%. При этом риск потерь в&nbsp;убыточных сделках не&nbsp;будет превышать&nbsp;2% от&nbsp;депозита. Доходность можно увеличить в&nbsp;1,5-2 раза путём соответствующего увеличения рисков или увеличения количества торгуемых инструментов.
				+questionItem(`Когда я начну зарабатывать?`)
					p Первую прибыль&nbsp;Вы можете получить уже во&nbsp;время сопровождения в&nbsp;Мастер-группе и&nbsp;на&nbsp;Коучинге после базовой части тренинга. А&nbsp;за&nbsp;4-6 месяцев после тренинга&nbsp;Вы сможете легко удвоить Ваш счёт.
				+questionItem(`Чем я рискую?`)
					p Риски определяются Вами и&nbsp;могут составлять 1-2% в&nbsp;каждой сделке (консервативная торговля), 3-4% в&nbsp;каждой сделке (умеренная торговля) или от&nbsp;5% в&nbsp;каждой сделке (агрессивная торговля). Риски более&nbsp;5% на&nbsp;сделку мы&nbsp;не&nbsp;рекомендуем. При соблюдении правил торговой системы и&nbsp;риске&nbsp;1% на&nbsp;сделку максимальная временная просадка по&nbsp;счёту не&nbsp;превысит 20%. Важно понимать, что при агрессивной торговле с&nbsp;риском&nbsp;5% на&nbsp;сделку временная просадка по&nbsp;счёту может достигать&nbsp;50%.
				+questionItem(`Каких брокеров вы&nbsp;рекомендуете?`)
					p Для торговли фьючерсами на&nbsp;CME&nbsp;&mdash; надёжный брокер AMP Global (чикагский или еропейская &laquo;дочка&raquo;).
					p Для торговли на&nbsp;форекс&nbsp;&mdash; лицензированные российские брокеры Альфа-форекс, ВТБ (ВТБ&nbsp;&mdash; для крупных счетов, т.к. высок минимальный объём сделки&nbsp;&mdash; 0,5&nbsp;лота).
					p Для торговли фьючерсами на&nbsp;Мосбирже&nbsp;&mdash; также ВТБ и&nbsp;Альфа.
				+questionItem(`В каком терминале будем торговать?`)
					p Для торговли фьючерсами на&nbsp;CME будем использовать MetaTrader5. Для торговли валютными парами на&nbsp;рынке FOREX&nbsp;&mdash; MetaTrader4 или MetaTrader5.
				+questionItem(`На&nbsp;каких рынках можно применять торговую систему?`)
					p Рынок фьючерсов (чикагская биржа CME), рынок FOREX, Московская биржа (фьючерсы на&nbsp;нефть, золото, евро).

	// end sQuestions

mixin questionItem(headerTxt, contentClasses)
	+e.item.q-item-js&attributes(attributes)
		+e.header!= headerTxt 
		+e.content.q-content-js(class=contentClasses)
			block