
	// start .sTeam
.sTeam {
	padding-top: calc(var(--sPT) * 1.3);
	padding-bottom: calc(var(--sPB) / 4);
	.section-title {
		padding-bottom: calc(var(--sTPB) * 1.2);
	}
	h2 {
		margin-bottom: rem(34);
	}
	&__item{
		// background: #FFFFFF;
		margin-bottom: 40px;
		picture{
			box-shadow: 0px 4px 150px rgba(0, 0, 0, 0.25);
			display: block;
			position: relative;
			width: 100%;
			overflow: hidden;
			border-radius: rem(20);
			max-width: 248px;
			max-height: 288px;
			margin-bottom: rem(33);
		}
	}
	&__caption{
		// padding: rem(20) rem(22) rem(5);

	}
	&__title{
		font-weight: 600;
		@extend .h5;
		// @extend .text-gradient;
		padding-bottom: rem(11);
		margin-bottom: rem(11);
		border-bottom: solid 11px #fff;
	}

	@include media-breakpoint-up(xl) {
		.row{
			--bs-gutter-x: 40px;
		}
	}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sTeam
