mixin sGoldenLevel()
	// start sGoldenLevel
	+b.SECTION.sGoldenLevel.section#sGoldenLevel&attributes(attributes)
		+e.bg
		.container
			+b.section-title 
				h2
					| &laquo;Золотой уровень доверия&raquo;&nbsp;&mdash; 
					span стандартная надёжность 
			+e.row.row
				.col-lg-auto.order-lg-first
					+pic("goldLevel-img.png")
				.col
							
					+e.txt
						h4 &laquo;Золотым уровнем доверия&raquo; помечаются &laquo;классические&raquo; обучающие курсы/программы от&nbsp;нашего издательства. Те&nbsp;курсы, тренинги, мультикурсы, которые&nbsp;Вы и&nbsp;раньше приобретали у&nbsp;нас и&nbsp;которые, собственно, завоевали для нашего издательства столь высокую репутацию!

			p &laquo;Золотая метка&raquo; означает, что тема данного курса не&nbsp;вызывает этических нареканий со&nbsp;стороны большинства членов редколлегии Инфо-ДВД, а&nbsp;вероятность положительного результата от&nbsp;обучения/применения данных знаний, методик, программ (при неукоснительном соблюдении всех инструкций автора) находится в&nbsp;районе 80%. Манибэк при таком раскладе&nbsp;мы, к&nbsp;сожалению, гарантировать на&nbsp;100% не&nbsp;берёмся, но&nbsp;в&nbsp;случае возникновения претензий к&nbsp;данному мультикурсу со&nbsp;стороны пользователя, обязуемся тщательно рассмотреть эти претензии, и&nbsp;если ученик выполнил должным образом все необходимые задания обучения (инструкции программы), но&nbsp;в&nbsp;силу каких-либо причин субъективного порядка остался не&nbsp;удовлетворён конечным результатом, возможен частичный манибэк.
						
			.row.justify-content-center
				.col-auto
					+e.btn.mb-3(href="https://info-dvd.ru/pages/risk-rate" target="_blank") Подробнее о рейтинге надёжности
				.col-auto
					+e.btn.scroll-link(href="#") Я&nbsp;уверен в&nbsp;качестве! Иду на&nbsp;тренинг!
								
				
	// end sGoldenLevel