mixin sOnline(data)
	// start sOnline
	+b.SECTION.sOnline.section#sOnline&attributes(attributes)
		.container
			h4 Хотите перенять уникальные знания и&nbsp;опыт, которые помогают Елене стабильно зарабатывать на&nbsp;финансовых рынках изо дня в&nbsp;день?
			+e.block
				+pic('online-bg.jpg','bg')(class="picture-bg")
				+b.section-title
					h2 #[span Онлайн-тренинг]<br> «Торгуем с крупным игроком»
				h5 Система аттестованного специалиста финансовых рынков Елены Прониной для прибыльной торговли фьючерсами на&nbsp;Чикагской товарной бирже CME, валютами на&nbsp;рынке FOREX, а&nbsp;также фьючерсами на&nbsp;Московской бирже.
				h5 Вы&nbsp;сможете получать доходность до&nbsp;50% и&nbsp;более в&nbsp;месяц к&nbsp;Вашему депозиту, следуя торговой системе автора. Вы&nbsp;будете видеть намерения крупных игроков и&nbsp;зарабатывать вместе с&nbsp;ними. То есть сможете использовать информацию о&nbsp;том, где, на&nbsp;каких ценовых уровнях в&nbsp;рынок входят крупные деньги, которые хотят заработать ещё больше денег, и&nbsp;обязательно сделают это.
				
	// end sOnline